<div class="container-fluid index_bgcolor">
	<h1 class="index_header">Welcome to V.E.T.</h1>
</div>

<!-- end header -->
<!-- start carousel -->
<div id="carouselExampleIndicators" class="carousel slide banner" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- end indicator part -->
  <!-- start carousel -->
  <div class="carousel-inner">
    <!-- item 1 -->
    <div class="carousel-item active">      
      <%= image_tag 'salute2.jpg', class: "d-block w-100 img", alt: "first slide"%>
      <!-- Start hover image layer/button for carousel photos -->
      <div class="imagelayer" id="item1">        
          <%= link_to "Sign-up", welcome_radio_path, class: 'btn btn-primary linkbutton' %>
      </div>
      <!-- end layer/button -->
    </div>
    <!-- item 2 -->
    <div class="carousel-item">      
      <%= image_tag 'soldiers2.jpg', class: "d-block w-100 img", alt: "second slide"%>
      <!-- Start hover image layer/button for carousel photos -->
      <div class="imagelayer" id="item2">        
        <%= link_to "Listen", welcome_radio_path, class: 'btn btn-primary linkbutton' %>
      </div>
      <!-- end layer/button -->
    </div>
    <!-- item 3 -->
    <div class="carousel-item">      
      <%= image_tag 'spec-ops2.jpg', class: "d-block w-100 img", alt: "third slide"%>
      <!-- Start hover image layer/button for carousel photos -->
      <div class="imagelayer" id="item3">        
          <%= link_to "Shop", welcome_radio_path, class: 'btn btn-primary linkbutton' %>
      </div>
      <!-- end layer/button -->
    </div>
  </div>
</div>

  <div class="row mid_grid">
    <div class="col-4 col_style">
      <div class="container box1">
        <div class="container-fluid iconborder">
          <i class="fa fa-user fa-5x "></i>
        </div>
          <h1 class="col_head">Sign-up</h1>
          <p class="col_para">Quisque in scelerisque arcu. Phasellus dapibus tincidunt est. In eu gravida mi, vitae egestas lorem. Nulla ultrices venenatis lectus, et dictum magna.</p>
        <button type="button" class="btn btn-primary linkbutton"><%= link_to "Sign-up"%></button>    
      </div>
      	
    

    <!-- column 1 -->

    <div class="container box1">
      <div class="container-fluid iconborder">
        <i class="fa fa-headphones fa-5x "></i>
      </div>
        <h1 class="col_head">Listen</h1>
				<p class="col_para">Duis vitae dui urna. Sed varius justo a enim tempor, sed blandit metus semper. Nullam dignissim porta nibh, vel tempor neque pulvinar ut.</p>
        <%= link_to "Listen", welcome_radio_path, class: 'btn btn-primary linkbutton'%>
    </div>

    <!-- column 2 -->
    

    <div class="container box1">
      <div class="container-fluid iconborder">
        <i class="fa fa-tag fa-5x "></i>
      </div>
        <h1 class="col_head">Shop</h1>
				<p class="col_para">Curabitur ullamcorper orci at iaculis tincidunt. Donec convallis tellus sapien, eget porta eros luctus et. Fusce condimentum lacus in aliquam gravi</p>
        <button type="button" class="btn btn-primary linkbutton"><%= link_to "Shop"%></button>
      </div>
    

    <!-- column 3 -->
    </div>

    <div class="col-8 col_style">
      <h1 class="col_head">Big Column</h1>
        <p class="col_para">Curabitur ullamcorper orci at iaculis tincidunt. Donec convallis tellus sapien, eget porta eros luctus et. Fusce condimentum lacus in aliquam gravi Curabitur ullamcorper orci at iaculis tincidunt. Donec convallis tellus sapien, eget porta eros luctus et. Fusce condimentum lacus in aliquam gravi Curabitur ullamcorper orci at iaculis tincidunt. Donec convallis tellus sapien, eget porta eros luctus et. Fusce condimentum lacus in aliquam gravi</p>
    </div>
  </div>


